<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href= "{{static_url("style.css")}}" >
    <script type="text/javascript" src="{{static_url("functions.js")}}"> </script>
</head>
<body onload="addHeaderTags()">
<pre>
    <span class="grey">Van de Sompel, et al.         Informational                    [Page 15]</span>
<span class="grey"><a href="https://tools.ietf.org/html/rfc7089">RFC 7089</a>                      HTTP Memento                 December 2013</span>


   +-------------------+------------+----------+---------+-------------+
   |      Pattern      |  Original  | TimeGate | Memento | Negotiation |
   |                   |  Resource  |          |         |    Style    |
   +-------------------+------------+----------+---------+-------------+
   |    Pattern 1.1    |    URI-R   |   URI-R  |  URI-M  |     302     |
   |  (<a href="https://tools.ietf.org/html/rfc7089#section-4.1.1">Section 4.1.1</a>)  |            |          |         |             |
   |    Pattern 1.2    |    URI-R   |   URI-R  |  URI-M  |     200     |
   |  (<a href="https://tools.ietf.org/html/rfc7089#section-4.1.2">Section 4.1.2</a>)  |            |          |         |             |
   |    Pattern 1.3    |    URI-R   |   URI-R  |  URI-R  |     200     |
   |  (<a href="https://tools.ietf.org/html/rfc7089#section-4.1.3">Section 4.1.3</a>)  |            |          |         |             |
   +-------------------+------------+----------+---------+-------------+

                            Table 1: Pattern 1
<span class="h4"><a class="selflink" name="section-4.1.3" href="#section-4.1.3">4.1.3</a>.  Pattern 1.3 - URI-R=URI-G; 200-Style Negotiation; No Distinct</span>
<span class="h4">        URI-M</span>

      Figure 4 shows a user agent that attempts to datetime negotiate with
   the Original Resource http://a.example.org/ by including an "Accept-
   Datetime" header in its HTTP HEAD request.  This initiating request
   is the same for Pattern 1 (<a href="https://tools.ietf.org/html/rfc7089#section-4.1">Section 4.1</a>) through Pattern 3
   (<a href="https://tools.ietf.org/html/rfc7089#section-4.3">Section 4.3</a>).

   HEAD / HTTP/1.1
   Host: a.example.org
   Accept-Datetime: Tue, 20 Mar 2001 20:35:00 GMT
   Connection: close

            Figure 4: User Agent Attempts Datetime Negotiation
                          with Original Resource
<span class="grey"><a href="https://tools.ietf.org/html/rfc7089">RFC 7089</a>                      HTTP Memento                 December 2013</span>


   The server's response to the request of Figure 4 is shown in
   Figure 9.  The recommended "timemap" and "timegate" links are
   included in addition to the mandatory "original" link.

   HTTP/1.1 200 OK
   Date: Thu, 21 Jan 2010 00:06:50 GMT
   Server: Apache
   Vary: accept-datetime
   Memento-Datetime: Tue, 20 Mar 2001 13:36:10 GMT
   Link: &lt;http://a.example.org/&gt;; rel="original timegate",
    &lt;http://a.example.org/?version=all&amp;style=timemap&gt;
      ; rel="timemap"; type="application/link-format"
   Content-Length: 23364
   Content-Type: text/html;charset=utf-8
   Connection: close

            Figure 9: Response from URI-R=URI-G for Pattern 1.3

   In a subsequent request, which is the same as Figure 4 but with HTTP
   GET instead of HEAD, the user agent can obtain the representation of
   the selected Memento.  It will be provided as the entity-body of a
   response that has the same Memento headers as in Figure 9.


</pre>
</body>
</html>